/*Basic rest*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.6rem;
    background-color: #f4f4f4;
}

/*Header and Navigation*/

header {
    
    margin-left:150px;
    background-color: ffffff;
}



header h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: xx-large;
    text-align: center;
    color:#333;
    padding:2rem 0;
}

header p {
    text-align: center;
}

.nav-top{
   
    background-color: #333;
    padding: 1rem 0;
    position:sticky;
    top:0;
    left:150px;
}

.nav-side{
    height: 100vh;      /* Full screen height */
    width: 150px;       /* Fixed width */
    position: fixed;    /* Lock it in place */
    top: 0;
    left: 0;
    background-color: #333;
    border-right: 2px solid #4f46e5; /* Professional indigo border */
    padding: 2rem 1rem;
    z-index: 1001;  

}

/*Tailwind class="flex justify-center align-center gap-8 list-none" */
.nav-ul-top {
    display:flex;
    justify-content: center;
    align-items: center;
    gap:2rem;
    list-style: none;
    
}


/*Tailind Class = "flex flex-col items-center justify-center gap-8 list-none */
.nav-ul-side{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2rem;
    list-style: none;
    
    
}

nav a {
    text-decoration: none;
    color:white;
    padding: 0.5rem 1rem; 
}

nav a:hover {
    color: #ffd700;
}

/*Main Element Styling*/

.main-content {
    margin-left: 150px;
    width: calc(100%-150px);
    display:flex;
    flex-direction: column;
    justify-content: center;
    /*tailwind class = ml-[150]*/
}

.about-section{
    max-width:768px;
    width:100%;
    margin-top: 2rem;
    margin-left:auto;
    margin-right:auto;
    background-color: white;
    border-radius: 8px;
    padding: 1rem;
    /*Tailwind class = "max-w-[800px] w-full mt-8 mx-auto bg-white rounded-lg p-4"
    using pure classes 3xl = 768px 48rem class= "max-w-3xl w-full mt-8 mx-auto bg-white rounded-lg p-4"

    */
}

footer {
    text-align: center;
    position:sticky;
    bottom: 0;
    z-index: 1000;
}
